
.iconstyle{
  font-size: 50px;
  margin-bottom: 10px;

}

h1{

text-align: center;
color: blue;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
text-shadow: 50;
border: 50;


}



p{
    font-family: 'jura', sans-serif;
    text-align: center;
    color: orangered;
    border: 30px;
    margin: 0;
    margin-top: 0;
    margin: bottom 0; 
  
}

h2{
 
    text-align: center;
    color: navy;
    border: 30;

}

